*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace
}

/* Este selector universal selecciona todos los elementos del html */

body{
    background-color:#d9d9d9;
}

body > div{
    margin: 1em;
    padding: 3em;
    border: 2px #2e2e2e solid;
    border-radius: 2em;
    background-color: white;
}